.game_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(64rem / 16);
    width: 100%;
    max-width: calc(460rem / 16);
}

.game_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: calc(20rem / 16);
    width: 100%;
}

@media (min-width: 768px) {
    .game_container {
        width: calc(460rem / 16);
        gap: calc(20rem / 16);
    }
}

@media (min-width: 1440px) {}

